html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

section,header{padding-bottom: 2rem ;}

#liquid-canvas {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: block;
}

.about{
  background-image:url("/img/about.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;

}

.btn-form{margin: 2rem 0;}

.glass{background: linear-gradient(180deg, #1f5b6b 0%, #163b45 100%);}

@media(max-width:45rem){.logo{font-size: 1rem;} }

.option-1, .option-2 {
  cursor: pointer; 
  user-select: none; 
}


$slider-width: 90px;
$slider-height: 45px;

.flex-cradle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-family: Helvetica;
}

.slider-cradle {
  display: flex;
  width: $slider-width;
  text-align: center;
  border-radius: 3px;
  background:#00d4ff;
  height: $slider-height;
  position: relative;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
  transition: background ease-in-out 0.5s;

  .option-1 {
    width: 50%;
  }

  .option-2 {
    width: 50%;
  }

  .handle {
    cursor: pointer;
    width: $slider-height * 0.92;
    height: $slider-height * 0.92;
    border-radius: 3px;
    position: absolute;
    background: white;
    top: $slider-height * 0.04;
    left: $slider-height * 0.04;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    transition: transform cubic-bezier(1, 0.11, 1, 1.04) 400ms;
  }

  div {
    line-height: $slider-height;
    color: white;
    font-weight: 500;
  }

  &.is-transitioned {
    background:#00d4ff;

    .handle {
      transform: translateX($slider-width / 2);
    }
  }
}




@media (max-width: 768px) {
  $slider-width: 65px;
  $slider-height: 32px;

  $handle-size: $slider-height * 0.92;
  $handle-padding: $slider-height * 0.04;

  .slider-cradle {
    width: $slider-width;
    height: $slider-height;
    border-radius: 3px;

    div {
      line-height: $slider-height;
      font-size: 12px;
    }

    .handle {
      width: $handle-size;
      height: $handle-size;
      top: $handle-padding;
      left: $handle-padding;
    }

    &.is-transitioned {
      .handle {
        transform: translateX(
          $slider-width - $handle-size - ($handle-padding * 2)
        );
      }
    }
  }
}

